.artist-wrapper {
    width: 100;
    background-color: #111827;
}
.artist-title {
    color: var(--white);
    font-size: 25px;

}
.artist-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #9CA3AF;
    padding: 22px 0;
}

.artist-search {
    position: relative;
    height: 46px;
    padding-left: 16px;
    background-color: #374151;
    border-radius: 92px;
    display: flex;
    border: 1.5px solid transparent;
}
.artist-search-btn {
    background-color: transparent;
    height: 100%;
    font-size: 1.8rem;
    color: #9CA3AF;
    padding-right: 10px;
    cursor: pointer;
}
.artist-search input {
    height: 100%;
    width: 260px;
    color: var(--white);
    font-size: 1.6rem;
    background-color: #374151;
    flex: 1;
    border-radius: 92px;
}

.artist-search i {
    background-color: transparent;
}

.artists {
    margin-top: 20px;
}
