.artist-detail-background {
    margin-top: 24px;
    width: 100%;
    height: 320px;
    position: relative;
}
.artist-detail-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.artist-detail-infor {
    position: absolute;
    bottom: 20px;
    left: 20px; 
    color: white; 
    padding: 10px 20px;
    border-radius: 8px;
}
.artist-detail-name {
    font-size: 38px;
}
.listeners-followers {
    display: flex;

}
.listener-count,
.follower-count {
    font-weight: 300;
}
.listener-count {
    padding-right: 14px;
}


.artist-detail-acions {
    display: flex;
    padding-top: 32px;
}

.artist-detail-button-custom .roundedButton {
    background-color: transparent;
    border: 1px solid #fff;
    margin-left: 24px;
}


/*Artist popular song list */
.artist-popular-songs {
    padding-top: 20px;
}
.artist-popular-songs h2, .artist-albums h2 {
    padding: 18px 0;
    color: #fff;
    font-weight: 600;
}

