.home-wrapper {
    width: 100;
    background-color: #111827;
}
.home-title {
    color: var(--white);
    font-size: 25px;

}
.home-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
}
.home-header-recently-played {
  padding: 18px 0;
}

/* View all text button */
.home-more {
    display: flex;
    align-items: center;
}
.home-more a {
    color: #C084FC;
}
.home-more:hover, .home-more a:hover{
    color: var(--primary);
}

.home-genres {
    width: 100%;
    background-color: #374151;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
}
.home-filter select {
    border: none;
}


/* List of featured songs */



/* Recently played songs list */
.home-recently-played-song-list {
    background-color: #1F2937;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    /* margin-top: 24px; */
  }
  
  .home-recently-played-song-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s;
    position: relative;
  }
  
  .home-recently-played-song-item:hover {
    background-color: #111827;
  }
  
  .home-recently-played-song-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
  }


  .home-recently-played-song-card:hover .home-recently-played-song-overlay {
    opacity: 1; /* Show overlay on hover */
}
.home-recently-played-song-overlay {
  position: absolute;
  
  width: 50px;
  height: 50px; 
  background: rgba(0, 0, 0, 0.4); 
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-recently-played-song-info-link {
  display: flex;
  justify-content: flex-start;
}
  
  .home-recently-played-song-info {
    flex-grow: 1;
    margin-left: 15px;
  }
  
  .home-recently-played-song-info h3 {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
  }
  
  .home-recently-played-song-info-artist {
    color: var(--spanColor);
    font-size: 14px;
  }
 
  .home-recently-played-song-duration {
    color: #b0b3bb;
    font-size: 14px;
  }
  
  .fa-regular,
  .fa-solid {
    color: #b0b3bb;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .fa-regular:hover,
  .fa-solid:hover {
    color: #ffffff;
  }

.home-recently-played-song-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}  

.home-recently-played-song-actions-heart-btn, .home-recently-played-song-actions-plus-btn {
    background-color: transparent;
}










