.myplaylist-song-header {
  padding-top: 24px;
  color: #fff;
}
.myplaylist-detail-page {
    background-color: #121212 !important; 
}

.myplaylist-detail-background {
    width: 100%;
    display: flex;
    margin-top: 24px;

}
.myplaylist-detail-background-img {
    width: 240px;
    height: 240px;
    margin-right: 32px;
}
.myplaylist-detail-infor {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.myplaylist-detail-name {
    color: #FFF;
}
.myplaylist-detail-infor-desc {
    color: #9CA3AF;
}

.myplaylist-detail-infor span {
    font-weight: 300;
}

/* Buttons */

.myplaylist-detail-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 24px;
}





