.myplaylist-wrapper {
    width: 100;
    background-color: #111827;
}
.myplaylist-title {
    color: var(--white);
    font-size: 25px;
}
.myplaylist-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #9CA3AF;
    padding: 22px 0;
}
.myplaylist-create {
    width: 160px;
    height: 40px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--primary);
    cursor: pointer;
    opacity: 0.8;
}
.myplaylist-create:hover {
    opacity: 1;
}
.myplaylist-create-plus-btn {
    font-size: 16px;
    color:#FFF !important;
}


.myplaylists {
    margin-top: 20px;
}

