.song-wrapper {
    width: 100;
    background-color: #111827;
}
.song-title {
    color: var(--white);
    font-size: 25px;

}
.song-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #9CA3AF;
    padding: 22px 0;
}
.song-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}
.song-genres {
    width: 100%;
    background-color: #374151;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
}
.song-filter select {
    border: none;
}

.songs {
    margin-top: 20px;
}








