<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
  </head>
  <body>
    <div class="header" th:fragment="headerFragment">
      <div class="header__inner">
        <a href="/">
          <h1 class="header__logo">MUSIC</h1>
        </a>
        <div class="header__search">
          <form th:action="@{/search}" method="get" class="header__search-form">
            <input
              type="text"
              name="keyword"
              placeholder="Search for songs, artists, or albums..."
              spellcheck="false"
              required
            />
            <button type="submit" class="header__search-btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
        <!-- Profile and logout: diplay if logged in -->
        <div th:if="${#authorization.expression('isAuthenticated()')}">
          <div class="header__actions">
            <!-- Profile -->
            <div class="header__profile">
              <a th:href="@{/setting}" class="header__action">
                <i class="fa-regular fa-user header__profile-btn"></i>
                <span sec:authentication="name">Profile</span>
              </a>
            </div>

            <!-- Logout -->
            <div class="header__logout">
              <form
                th:action="@{/auth/logout}"
                method="post"
                style="display: inline"
              >
                <button
                  type="submit"
                  class="header__action"
                  style="background: none; border: none; cursor: pointer"
                >
                  <i
                    class="fa-solid fa-arrow-right-to-bracket header__login-btn"
                  ></i>
                  Logout
                </button>
              </form>
            </div>
          </div>
        </div>

        <!-- Login: display if not log in -->
        <div th:if="${#authorization.expression('isAnonymous()')}">
          <div class="header__actions">
            <div class="header__tooltip__container">
              <div class="header__login">
                <a th:href="@{/auth/signin}" class="header__action">
                  <i
                    class="fa-solid fa-arrow-right-to-bracket header__login-btn"
                  ></i>
                  Login
                </a>
              </div>
              <div class="header__tooltip-box">
                <strong>You’re logged out</strong>
                <p>Please login to access all features.</p>
                <span
                  class="header__tooltip-close"
                  onclick="this.parentElement.style.display='none'"
                  >&times;</span
                >
                <div class="header__tooltip-arrow"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
