<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>More Button</title>
  </head>
  <body>
    <!-- Định nghĩa fragment button -->
    <div
      th:fragment="iconButton(icon,iconSize, width, height, right, backgroundColor,isOptionButton, onclickFunction)"
    >
      <div class="iconButton-container">
        <button
          class="iconButton-btn"
          th:with="btnWidth=${width ?: 'auto'}, btnHeight=${height ?: 'auto'}, btnBackground=${backgroundColor ?: '#1F2937'} "
          th:style="'width:' + ${btnWidth} + '; height:' + ${btnHeight} + '; background-color:' + ${btnBackground}"
          th:attr="onclick=${onclickFunction}"
        >
          <i
            th:class="${icon}"
            th:with="size=${iconSize ?: '22px'}"
            th:style="'font-size:' + ${size}"
          ></i>
        </button>
        <div
          class="option-menu"
          id="optionMenu"
          th:style="'right:' + (${right} ?: 'auto')"
          th:if="${isOptionButton}"
        >
          <button onclick="editPlaylist()">
            <i class="fa-solid fa-pen"></i>Edit playlist
          </button>
          <button onclick="deletePlaylist()">
            <i class="fa-solid fa-trash"></i>
            Delete playlist
          </button>
          <button onclick="sharePlaylist()">
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
            Share playlist
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
