<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of songs</title>
  </head>
  <body>
    <div th:fragment="listOfSong(songNumber,icon,duration,onclickFunction)">
      <div class="listOfSong-list">
        <!-- myplaylist song list item -->
        <div
          class="listOfSong-item"
          th:fragment="listOfSongItem(songNumber,icon,duration,onclickFunction)"
          th:each="song, iterStat : ${songs}"
        >
          <span
            class="listOfSong-number"
            th:if="${songNumber != null and songNumber != ''}"
            th:text="${iterStat.count}"
            th:classappend="${iterStat.count == 1 ? 'top-1' : (iterStat.count == 2 ? 'top-2' : (iterStat.count == 3 ? 'top-3' : ''))}"
          ></span>
          <div class="listOfSong-img-container">
            <img
              th:src="@{${song.coverImage}}"
              alt="Take My Breath"
              class="listOfSong-img"
            />
            <div class="listOfSong-overlay">
              <div class="listOfSong-play">
                <button
                  class="listOfSong-play-pause-btn"
                  th:attr="onclick=|playSong(event, '${song.songID}')|"
                >
                  <i class="fa-solid fa-play listOfSong-play-btn"></i>
                </button>
              </div>
            </div>
            <!-- Hidden audio element -->
            <audio
              th:id="'audioPlayer_' + ${song.songID}"
              style="display: none"
            >
              <source th:src="@{${song.filePath}}" type="audio/mpeg" />
              Your browser does not support the audio element.
            </audio>
          </div>
          <a
            th:href="@{'/song/detail/' + ${song.songID}}"
            class="listOfSong-info"
          >
            <div>
              <h3 class="listOfSong-song-name" th:text="${song.title}">
                Take My Breath Take My
              </h3>
              <!-- <a href="/artist/detail"> -->
              <p
                class="listOfSong-info-artist"
                th:each="artist, iter : ${song.artistsOfSong}"
                th:text="${artist.artistName} + (${!iter.last} ? ', ' : '')"
              >
                The Weeknd
              </p>
              <!-- </a> -->
            </div>
          </a>
          <div class="listOfSong-actions">
            <span
              class="listOfSong-duration"
              th:if="${duration != null and  duration != ''}"
              th:text="${duration}"
              >4:10</span
            >
            <!--Add to favorite button-->
            <div
              th:replace="~{/components/tooltip :: toolTip('Add to favorites', 'fa-regular fa-heart', 'addSongToFavorite()')}"
            ></div>
            <!-- Dynamic Add/remove to playlist button-->
            <div
              th:replace="~{components/tooltip :: toolTip(
              ${icon == 'minus' ? 'Remove from playlist' : 'Add to playlist'},
              ${icon == 'minus' ? 'fa-solid fa-minus' : 'fa-solid fa-plus'},
              ${onclickFunction}
          )}"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
