<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Notification</title>
  </head>
  <body>
    <div th:fragment="messageFragment">
      <div class="message-wrapper">
        <p class="message-noti">Added song to Favorites library</p>
        <button class="message-close-btn"><i class="fa-solid fa-xmark"></i></button>
      </div>
    </div>
  </body>
</html>
