<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fixed Bottom Music player</title>
  </head>
  <body>
    <div id="music-player" class="music-player" th:fragment="playerFragment">
      <div class="music-player-info">
        <img
          src=""
          alt="Song Cover"
          class="music-cover"
          id="currentSongCover"
        />
        <div class="music-text">
          <h4 id="currentSongTitle" class="music-title">Blinding Lights</h4>
          <p id="currentSongArtist" class="music-artist">The Weeknd</p>
        </div>
        <div class="music-actions">
          <div
            th:replace="~{components/tooltip :: toolTip('Add to favorite', 'fa-regular fa-heart', 'addSongToFavorite()')}"
          ></div>
          <div
            th:replace="~{components/tooltip :: toolTip('Add to Playlist', 'fa-solid fa-plus', 'addSongToPlaylist()')}"
          ></div>
        </div>
      </div>

      <div class="music-player-controls">
        <div class="controls">
          <div
            th:replace="~{components/tooltip :: toolTip('Backward', 'fa-solid fa-backward-step', 'backWardSong()')}"
          ></div>

          <div class="play-pause-btn" onclick="toggleBottomPlayer()">
            <i class="fa-solid fa-pause"></i>
          </div>
          <div
            th:replace="~{components/tooltip :: toolTip('Next song', 'fa-solid fa-forward-step', 'nextSong()')}"
          ></div>
        </div>
        <div class="progress-bar">
          <span class="current-time">1:12</span>
          <input type="range" class="seek-bar" min="0" max="100" value="0" />
          <span class="total-duration" id="currentSongDuration"></span>
        </div>
      </div>

      <div class="music-player-volume-control">
        <div
          th:replace="~{components/tooltip :: toolTip('Mute', 'fa-solid fa-volume-low', 'muteVolume()')}"
        ></div>
        <input type="range" class="volume-bar" min="0" max="100" value="50" />
      </div>
      <div class="music-player-playlist-wrapper">
        <div class="tooltip">
          <button class="music-player-playlist-btn" onclick="openPlaylist()">
            <img
              src="/images/playlist.png"
              alt="playlist icon"
              class="playlist-icon"
            />
          </button>
          <span class="tooltip-text">Queue</span>
        </div>
      </div>
    </div>
  </body>
</html>
