<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>More Button</title>
  </head>
  <body>
    <!-- Định nghĩa fragment button -->
    <div th:fragment="optionButton(width, height, right)">
      <div class="myplaylist-detail-option-container">
        <button
          class="myplaylist-detail-option-btn"
          th:with="btnWidth=${width ?: 'auto'}, btnHeight=${height ?: 'auto'}"
          th:style="'width:' + ${btnWidth} + '; height:' + ${btnHeight}"
          onclick="toggleOptionMenu(event)"
        >
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
        <div
          class="option-menu"
          id="optionMenu"
          th:style="'right:' + (${right} ?: 'auto')"
        >
          <button onclick="editPlaylist()">
            <i class="fa-solid fa-pen"></i>Edit playlist
          </button>
          <button onclick="deletePlaylist()">
            <i class="fa-solid fa-trash"></i>
            Delete playlist
          </button>
          <button onclick="sharePlaylist()">
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
            Share playlist
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
