<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Song card</title>
  </head>
  <body>
    <!-- Định nghĩa fragment -->

    <div class="playlists-grid" th:fragment="playlistCard(playlists)">
      <!--Playlist item-->
      <div class="playlist-card" th:each="playlist : ${userPlaylists}">
        <div class="playlist-card-img">
          <img src="/images/playlist-bg.svg" atl="playlist image" />
        </div>
        <div class="playlist-overlay">
          <a
            th:href="@{'/playlist/detail/' + ${playlist.playlistID}}"
            class="playlist-overlay-btn"
          >
            <div class="playlist-play">
              <button class="playlist-play-btn" onclick="playSong(event)">
                <i class="fa-solid fa-play playlist-play-btn-icon"></i>
              </button>
            </div>
          </a>
        </div>
        <div class="playlist-info">
          <h3 class="playlist-name" th:text="${playlist.playlistName}"></h3>
          <p class="playlist-song-count">25 songs</p>
          <div class="playlist-meta">
            <span
              class="playlist-createdby"
              th:text="'Created by ' + ${playlist.user.username}"
            ></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
