<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <th:block xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    </th:block>
  </head>
  <body>
    <div id="sidebar" class="sidebar" th:fragment="sidebarFragment">
      <!-- Menu -->
      <nav class="sidebar__nav">
        <!-- Home (Active) -->
        <div class="sidebar__box">
          <a href="/" class="sidebar__link">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
          </a>
        </div>

        <!-- Discover -->
        <div class="sidebar__box">
          <a href="/discover" class="sidebar__link">
            <i class="fa-solid fa-compass text-lg"></i>
            <span>Discover</span>
          </a>
        </div>

        <!-- Top Charts -->
        <div class="sidebar__box">
          <a href="/topchart" class="sidebar__link">
            <i class="fa-solid fa-chart-line text-lg"></i>
            <span>Top Charts</span>
          </a>
        </div>

        <!-- Divider -->
        <p class="sidebar__divider">Library</p>

        <!-- Songs -->
        <div class="sidebar__box">
          <a href="/song/list" class="sidebar__link">
            <i class="fa-solid fa-music text-lg"></i>
            <span>Songs</span>
          </a>
        </div>

        <!-- Artists -->
        <div class="sidebar__box">
          <a href="/artist/list" class="sidebar__link">
            <i class="fa-solid fa-user text-lg"></i>
            <span>Artists</span>
          </a>
        </div>

        <!-- Albums -->
        <div class="sidebar__box">
          <a href="/album/list" class="sidebar__link">
            <i class="fa-solid fa-image text-lg"></i>
            <span>Albums</span>
          </a>
        </div>

        <!-- Genres -->
        <div class="sidebar__box">
          <a href="/genre/list" class="sidebar__link">
            <i class="fa-solid fa-layer-group text-lg"></i>
            <span>Genres</span>
          </a>
        </div>

        <div class="sidebar__user__mode">
          <!-- Divider -->
          <p class="sidebar__divider">Personal</p>
          <!-- My playlists -->
          <div class="sidebar__box">
            <a href="/playlist/list" class="sidebar__link">
              <i class="fa-solid fa-list-ul"></i>
              <span>My Playlists</span>
            </a>
          </div>
          <!-- Favorites -->
          <div class="sidebar__box">
            <a href="/favorite" class="sidebar__link">
              <i class="fa-regular fa-heart text-lg"></i>
              <span>Favorites</span>
            </a>
          </div>
          <!-- Settings -->
          <div class="sidebar__box">
            <a href="/setting" class="sidebar__link">
              <i class="fa-solid fa-gear"></i>
              <span>Settings</span>
            </a>
          </div>
        </div>

        <div class="sidebar__admin_mode" sec:authorize="hasRole('ROLE_ADMIN')">
          <!-- Divider -->
          <p class="sidebar__divider">Admin mode</p>
          <!-- Upload -->
          <div class="sidebar__box">
            <a href="/admin/song/list" class="sidebar__link">
              <i class="fa-solid fa-cloud-arrow-up"></i>
              <span>Upload</span>
            </a>
          </div>
          <!-- Users list -->
          <div class="sidebar__box">
            <a href="/admin/userlist" class="sidebar__link">
              <i class="fa-solid fa-user text-lg"></i>
              <span>Users List</span>
            </a>
          </div>

          <!-- Statics -->
          <div class="sidebar__box">
            <a href="/admin/static" class="sidebar__link">
              <i class="fa-solid fa-chart-simple"></i>
              <span>Statics</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
