<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
  </head>
  <body>
    <div id="sidebar" class="sidebar" th:fragment="sidebarFragment">
      <!-- Menu -->
      <nav class="sidebar__nav">
        <!-- Home (Active) -->
        <div class="sidebar__box">
          <a href="/" class="sidebar__link">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
          </a>
        </div>

        <!-- Discover -->

        <div class="sidebar__box">
          <a href="/discover" class="sidebar__link">
            <i class="fa-solid fa-compass text-lg"></i>
            <span>Discover</span>
          </a>
        </div>

        <!-- Top Charts -->
        <div class="sidebar__box">
          <a href="/topchart" class="sidebar__link">
            <i class="fa-solid fa-chart-line text-lg"></i>
            <span>Top Charts</span>
          </a>
        </div>

        <!-- Divider -->
        <p class="sidebar__divider">Library</p>

        <!-- Songs -->
        <div class="sidebar__box">
          <a href="/song" class="sidebar__link">
            <i class="fa-solid fa-music text-lg"></i>
            <span>Songs</span>
          </a>
        </div>

        <!-- Artists -->
        <div class="sidebar__box">
          <a href="/artist" class="sidebar__link">
            <i class="fa-solid fa-user text-lg"></i>
            <span>Artists</span>
          </a>
        </div>

        <!-- Albums -->
        <div class="sidebar__box">
          <a href="/album" class="sidebar__link">
            <i class="fa-solid fa-image text-lg"></i>
            <span>Albums</span>
          </a>
        </div>

        <!-- Genres -->
        <div class="sidebar__box">
          <a href="/genres" class="sidebar__link">
            <i class="fa-solid fa-layer-group text-lg"></i>
            <span>Genres</span>
          </a>
        </div>

        <!-- Divider -->
        <p class="sidebar__divider">Personal</p>
        <!-- My playlists -->
        <div class="sidebar__box">
          <a href="/myplaylist" class="sidebar__link">
            <i class="fa-solid fa-list-ul"></i>
            <span>My Playlists</span>
          </a>
        </div>
        <!-- Favorites -->
        <div class="sidebar__box">
          <a href="/favorite" class="sidebar__link">
            <i class="fa-regular fa-heart text-lg"></i>
            <span>Favorites</span>
          </a>
        </div>
        <!-- Recently Played -->
        <div class="sidebar__box">
          <a href="#" class="sidebar__link">
            <i class="fa-regular fa-clock text-lg"></i>
            <span>Recently Played</span>
          </a>
        </div>
        <!-- My Comments -->
        <div class="sidebar__box">
          <a href="#" class="sidebar__link">
            <i class="fa-regular fa-comment text-lg"></i>
            <span>My Comments</span>
          </a>
        </div>
        <!-- Shared With Me -->
        <div class="sidebar__box">
          <a href="#" class="sidebar__link">
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
            <span>Shared With Me</span>
          </a>
        </div>
        <!-- My Ratings -->
        <div class="sidebar__box">
          <a href="#" class="sidebar__link">
            <i class="fa-regular fa-star text-lg"></i>
            <span>My Ratings</span>
          </a>
        </div>
        <!-- Settings -->
        <div class="sidebar__box">
          <a href="/setting" class="sidebar__link">
            <i class="fa-solid fa-gear"></i>
            <span>Settings</span>
          </a>
        </div>

        <!-- Divider -->
        <p class="sidebar__divider">Admin mode</p>
        <!-- Songs list -->
        <div class="sidebar__box">
          <a href="/admin/songlist" class="sidebar__link">
            <i class="fa-solid fa-music text-lg"></i>
            <span>Songs List</span>
          </a>
        </div>

        <!-- Users list -->
        <div class="sidebar__box">
          <a href="#" class="sidebar__link">
            <i class="fa-solid fa-user text-lg"></i>
            <span>Users List</span>
          </a>
        </div>

        <!--Comments Manager -->
        <div class="sidebar__box">
          <a href="#" class="sidebar__link">
            <i class="fa-regular fa-comment text-lg"></i>
            <span>Comments</span>
          </a>
        </div>

        <!-- My playlists -->
        <div class="sidebar__box">
          <a href="/admin/playlist" class="sidebar__link">
            <i class="fa-solid fa-list-ul"></i>
            <span>Playlists</span>
          </a>
        </div>

        <!-- Statics -->
        <div class="sidebar__box">
          <a href="#" class="sidebar__link">
            <i class="fa-solid fa-chart-simple"></i>
            <span>Statics</span>
          </a>
        </div>
      </nav>
    </div>
  </body>
</html>
