<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Song card</title>
  </head>
  <body>
    <!-- Định nghĩa fragment button -->
    <div th:fragment="songCard()">
      <div class="home-song-grid">
        <!--home list songs item-->
        <div class="home-song-card">
          <div class="home-song-card-img">
            <img src="/images/artist1.png" atl="home-song image" />
          </div>
          <div class="home-song-overlay">
            <a href="/song/detail" class="home-song-overlay-btn">
              <div class="home-song-play">
                <button class="home-song-play-btn" onclick="playSong(event)">
                  <i class="fa-solid fa-play home-song-play-btn-icon"></i>
                </button>
              </div>
            </a>
          </div>
          <div class="home-song-info">
            <h3 class="home-song-name">Title</h3>
            <p class="home-song-artist">Artist</p>
            <div class="home-song-meta">
              <span class="home-song-duration">3:20</span>
              <div class="home-song-actions">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
