<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Song card</title>
  </head>
  <body>
    <!-- Định nghĩa fragment button -->
    <div th:fragment="songCard()">
      <div class="song-card-grid">
        <!--home list songs item-->
        <div class="song-card">
          <div class="song-card-img">
            <img src="/images/artist1.png" atl="song image" />
          </div>
          <div class="song-card-overlay">
            <a href="/song/detail" class="song-card-overlay-btn">
              <div class="song-card-play">
                <button class="song-card-play-btn" onclick="playSong(event)">
                  <i class="fa-solid fa-play song-card-play-btn-icon"></i>
                </button>
              </div>
            </a>
          </div>
          <div class="song-card-info">
            <h3 class="song-card-name">Title</h3>
            <p class="song-card-artist">Artist</p>
            <div class="song-card-meta">
              <span class="song-card-duration">3:20</span>
              <div class="song-card-actions">
                <!--ToolTip heart button (Add to favorite)-->
                <div
                  th:replace="~{/components/tooltip :: toolTip('Add to favorites', 'fa-regular fa-heart', 'addSongToFavorite()')}"
                ></div>
                <div
                  th:replace="~{/components/tooltip :: toolTip('Add to playlist', 'fa-solid fa-plus', 'addSongToPlaylist()')}"
                ></div>
                <!--ToolTip plus button (Add to playlist)-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
