<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Albums</title>
  </head>
  <body>
    <div th:fragment="content">
      <!-- title and filter -->
      <div class="album-header">
        <h2 class="album-title">Albums</h2>

        <div class="album-search-filter">
          <!-- search album -->
          <div class="album-search">
            <button class="album-search-btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input placeholder="Search album..." spellcheck="{false}" />
          </div>
          <!-- filter album -->
          <div class="album-filter">
            <select
              id="genreSelect"
              class="album-genres"
              onchange="filteralbumsByGenre()"
            >
              <option value="all">All Genres</option>
              <option value="pop">Pop</option>
              <option value="rock">Rock</option>
              <option value="hiphop">Hip-Hop</option>
              <option value="jazz">Jazz</option>
              <option value="classical">Classical</option>
            </select>
          </div>
        </div>
      </div>

      <!-- list of albums -->
      <div class="albums-grid">
        <!-- Dùng Thymeleaf để lặp qua danh sách albums -->

        <div class="album-card">
          <img src="/images/song_img1.png" atl="album image" />
          <div class="album-overlay">
            <a href="/album/detail">
              <div class="album-detail">
                <span>View Album</span>
              </div>
            </a>
          </div>
          <div class="album-info">
            <h3 class="album-name">After Hours</h3>
            <p class="album-artist">The Weeknd</p>
            <div class="album-meta">
              <p class="album-year">2020</p>
              <p class="album-song-count">14 songs</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
