<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout(customMainClass='album-detail-page')}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Album detail</title>

    <!-- custom backgroud -->
    <style>
      .main {
        background-color: #121212;
      }
    </style>
  </head>
  <body>
    <div th:fragment="content">
      <!-- album detail backgroud -->
      <div class="album-detail-background">
        <img
          th:src="${album.coverImage}"
          class="album-detail-background-img"
          alt="album backgroud"
        />

        <!-- album infor detail -->
        <div class="album-detail-infor">
          <p>Album</p>
          <h1 class="album-detail-name" th:text="${album.albumName}">
            After Hours
          </h1>
          <div class="album-detail-meta">
            <img
              class="album-detail-meta-bg"
              th:each="artist : ${allArtists}"
              th:src="${artist.image != null} ? ${artist.image} : '/images/default-artist.png'"
              alt="album backgroud"
            />
            <h4 th:text="${combinedArtistNames}">The Weeknd</h4>
            <span class="dot">•</span>
            <span class="album-detail-year">2025</span>
            <span class="dot">•</span>
            <span
              class="album-detail-song-count"
              th:text="${album.songsOfAlbum.size()} + ' songs'"
              >number of songs</span
            >
          </div>
          <div class="album-detail-actions">
            <!-- play button -->
            <button class="album-detail-play-btn" id="playButton">
              <i class="fa-solid fa-play"></i>
              <span>Play</span>
            </button>
            <!-- heart button -->
            <button class="album-detail-heart-btn" id="heartButton">
              <i class="fa-regular fa-heart"></i>
            </button>
            <!-- share button -->
            <button class="album-detail-share-btn" id="shareButton">
              <i class="fa-solid fa-arrow-up-from-bracket"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- album track list -->

      <div
        th:replace="~{components/listSong :: listOfSong(
        songNumber='',
        icon='plus',
        duration='4:30', 
        onclickFunction='addSong()',
        songs=${globalSongsByAlbum[album.albumID]},
        playlistId=null
      )}"
      ></div>
    </div>
  </body>
</html>
