<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artists</title>
  </head>
  <body>
    <div th:fragment="content">
      <!-- artist backgroud -->
      <div class="artist-detail-background">
        <img th:src="${artist.image}" alt="artist backgroud" />
        <div class="artist-detail-infor">
          <h1 class="artist-detail-name" th:text="${artist.artistName}">
            Ed Sheeran
          </h1>
          <div class="listeners-followers">
            <div class="listener-count">
              <i class="fa-solid fa-user-group"></i>
              <span>75.8M monthly listeners</span>
            </div>
            <div class="follower-count">
              <span>45.6M followers</span>
            </div>
          </div>
        </div>
      </div>

      <!-- artist actions -->
      <div class="artist-detail-acions">
        <!-- artist play button -->
        <!--ROUNDED BUTTON (PLAY)-->
        <div
          th:replace="~{components/roundedButton :: roundedButton('fa-solid fa-play', '22px', 'Play', '130px', '50px', null, 'playSong(event)')}"
        ></div>
        <!--ROUNDED BUTTON (Follow)-->
        <div class="artist-detail-button-custom">
          <div
            th:replace="~{components/roundedButton :: roundedButton('', '', 'Follow', '130px', '50px', null, 'followArtist()')}"
          ></div>
        </div>
      </div>

      <!-- artist popular songs -->
      <div class="artist-popular-songs">
        <h2>Popular Songs</h2>
        <!--Song list of artist -->
        <div
          th:replace="~{components/songCard :: songCard(songs=${songsOfArtist})}"
        ></div>
      </div>
      <!-- artist album -->
      <div class="artist-albums">
        <h2>Albums</h2>
        <!-- list of albums -->
        <div class="albums-grid">
          <!-- Dùng Thymeleaf để lặp qua danh sách albums -->

          <div class="album-card">
            <img src="/images/song_img1.png" atl="album image" />
            <div class="album-overlay">
              <a href="/album/detail">
                <div class="album-detail">
                  <span>View Album</span>
                </div>
              </a>
            </div>
            <div class="album-info">
              <h3 class="album-name">After Hours</h3>
              <p class="album-artist">The Weeknd</p>
              <div class="album-meta">
                <p class="album-year">2020</p>
                <p class="album-song-count">14 songs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- player -->
    </div>
  </body>
</html>
