<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artists</title>
  </head>
  <body>
    <div th:fragment="content">
      <!-- title and filter -->
      <div class="artist-header">
        <h2 class="artist-title">Artists</h2>
        <!-- search artists -->
        <div class="artist-search">
          <button class="artist-search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <input placeholder="Search artist..." spellcheck="{false}" />
        </div>
      </div>

      <!-- list of artists -->
      <div th:replace="~{components/artistCard :: artistCard()}"></div>
    </div>
  </body>
</html>
