<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discover</title>
  </head>
  <body>
    <div th:fragment="content">
      <!-- Discover weekly -->
      <div class="discover-weekly-wrapper">
        <div class="discover-weekly-featured">
          <img class="discover-weekly-icon" src="/images/sparkles_icon.png" />
          <span>Featured</span>
        </div>
        <h1>Discover Weekly</h1>
        <p class="discover-weekly-desc">
          Your personal mixtape of fresh and exciting music, carefully curated
          to bring you a perfect blend of new discoveries and hidden gems. Sit
          back, relax, and immerse yourself in a musical journey tailored just
          for you.
        </p>

        <!-- CUSTOM ROUNDED BUTTON (Listen now) -->
        <div class="discoverCustomRoundedButton">
          <div
            th:replace="~{components/roundedButton :: roundedButton('','', 'Listen now', '160px','50px', null, 'playAllSong()')}"
          ></div>
        </div>
      </div>

      <!-- New Releases -->
      <div class="discover-new-releases-header">
        <h2 class="discover-new-releases-title">New Releases</h2>
        <div class="discover-more">
          <a href="/song/user/list">View All</a>
        </div>
      </div>
      <!-- list of songs -->
      <div
        th:replace="~{components/songCard :: songCard(songs=${songsSortedByReleaseDate})}"
      ></div>

      <!-- Browse by Mood -->

      <div class="discover-new-releases-header">
        <h2 class="discover-new-releases-title">Browse by Mood</h2>
        <div class="discover-more">
          <a href="/song/user/list">View All</a>
        </div>
      </div>
      <!-- list of songs -->
      <div
        th:replace="~{components/songCard :: songCard(songs=${globalSongs})}"
      ></div>
    </div>
  </body>
</html>
