<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorites</title>
  </head>
  <body>
    <div th:fragment="content">
      <!-- title and filter -->
      <div class="favorites-header">
        <h2 class="favorites-title">Favorites</h2>
        <div class="favorites-filter">
          <i class="fa-solid fa-filter"></i>

          <select
            id="genreSelect"
            class="favorites-genres"
            onchange="filterfavoritessByGenre()"
          >
            <option value="all">All Genres</option>
            <option value="pop">Pop</option>
            <option value="rock">Rock</option>
            <option value="hiphop">Hip-Hop</option>
            <option value="jazz">Jazz</option>
            <option value="classical">Classical</option>
          </select>
        </div>
      </div>

      <!-- list of favoritess -->
      <div th:replace="~{components/songCard :: songCard()}"></div>
    </div>
  </body>
</html>
