<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genres Detail</title>
  </head>
  <body>
    <div th:fragment="content">
      <!-- genres-detail backgroud -->
      <div class="genres-detail-background">
        <img th:src="${genre.genreImage}" alt="genres backgroud" />
        <div class="genres-detail-infor">
          <h1 class="genres-detail-name" th:text="${genre.genreName}">Pop</h1>
          <p class="genres-detail-desc">
            Popular music with mass appeal, characterized by catchy melodies and
            contemporary production.
          </p>
          <div class="genres-detail-listeners">
            <div class="genres-detail-listener-count">
              <span>1M+ monthly listeners</span>
            </div>
          </div>
        </div>
      </div>

      <!-- genres actions -->
      <div class="genres-detail-actions">
        <div>
          <!-- genres play button -->
          <button class="genres-detail-play" onclick="playSong(event)">
            <div class="genres-detail-play-btn" onclick="playAllSong(event)">
              <i class="fa-solid fa-play"></i><span>Play All</span>
            </div>
          </button>
          <!-- genres button -->
          <button class="genres-detail-follow">
            <div class="genres-detail-follow-btn">
              <span>All Time</span>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </button>
        </div>

        <!-- genres view button -->
        <div class="view-toggle">
          <button class="view-btn active" id="gridViewBtn">
            <i class="fa-solid fa-th"></i>
          </button>
          <button class="view-btn" id="listViewBtn">
            <i class="fa-solid fa-list"></i>
          </button>
        </div>
      </div>

      <!-- genres-detail top songs -->
      <div class="genres-detail-top-songs">
        <h2 class="genres-detail-header">Top Songs</h2>
        <!--Song list grid-->
        <div
          th:replace="~{components/songCard :: songCard(songs=${songsOfGenre})}"
        ></div>
      </div>

      <!-- genres popular artist -->
      <h2 class="genres-detail-header">Popular Artists</h2>
      <!--Artist popular grid-->
      <div class="genres-detail-popular-artist-grid">
        <!--artist popular item-->
        <div
          class="genres-detail-popular-artist-card"
          th:each="artistOfGenre : ${artistSet}"
        >
          <div class="genres-detail-popular-artist-card-circle">
            <div class="genres-detail-popular-artist-card-img">
              <img
                th:src="${artistOfGenre.image}"
                atl="genres-detail-popular-artist image"
              />
            </div>
            <div class="genres-detail-popular-artist-overlay">
              <a
                th:href="@{/artist/detail/{id}(id=${artistOfGenre.artistID})}"
                class="genres-detail-popular-artist-overlay-btn"
              >
                <div class="genres-detail-popular-artist-play">
                  <button
                    class="genres-detail-popular-artist-play-btn"
                    onclick="playAllSong(event)"
                  >
                    <i
                      class="fa-solid fa-play genres-detail-popular-artist-play-btn-icon"
                    ></i>
                  </button>
                </div>
              </a>
            </div>
          </div>
          <div class="genres-detail-popular-artist-info">
            <h3
              class="genres-detail-popular-artist-name"
              th:text="${artistOfGenre.artistName}"
            >
              The Weeknd
            </h3>
            <p class="genres-detail-popular-artist-follower">45.6M followers</p>
          </div>
        </div>
      </div>

      <!-- genres featured albums -->
      <h2 class="genres-detail-header">Featured Album</h2>
    </div>
  </body>
</html>
