<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div th:fragment="content">
      <!-- Music Genres header -->
      <div class="genres-header">
        <h2 class="genres-title">Musics Genres</h2>
      </div>

      <!-- Genres list -->
      <div class="genres">
        <div class="genres-grid">
          <!-- Genres item -->
          <a
            class="genres-link"
            th:each="genre : ${genres}"
            th:href="@{/genre/detail/{id}(id=${genre.genreID})}"
          >
            <div class="genres-item">
              <div class="genres-img-wrapper">
                <img
                  th:src="${genre.genreImage}"
                  alt="Pop"
                  class="genres-img"
                />
                <div class="genres-overlay">
                  <button class="genres-play-btn" onclick="playSong(event)">
                    <i class="fa-solid fa-play"></i>
                  </button>
                </div>
              </div>
              <div class="genres-info">
                <h3 class="genres-title" th:text="${genre.genreName}">Pop</h3>
                <p class="genres-songs">1.2M songs</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- Featured Genre Playlists header -->
      <div class="genres-header">
        <h2 class="genres-title">Featured Genre Playlists</h2>
      </div>

      <!-- Featured Genre Playlists Grid-->
      <div class="featured-genre-playlist-grid">
        <!--Featured Genre playlist item-->
        <div class="featured-genre-playlist-card">
          <div class="featured-genre-playlist-card-img">
            <img
              src="/images/pop-featured.jpg"
              atl="featured-genre-playlist image"
            />
          </div>
          <div class="featured-genre-playlist-overlay">
            <a href="" class="featured-genre-playlist-overlay-btn">
              <div class="featured-genre-playlist-play">
                <button
                  class="featured-genre-playlist-play-btn"
                  onclick="playSong(event)"
                >
                  <i
                    class="fa-solid fa-play featured-genre-playlist-play-btn-icon"
                  ></i>
                </button>
              </div>
            </a>
          </div>
          <div class="featured-genre-playlist-info">
            <h3 class="featured-genre-playlist-name">Pop Hits 2023</h3>
            <p class="featured-genre-playlist-songs">50 songs</p>
          </div>
        </div>

        <!--Featured Genre playlist item-->
        <div class="featured-genre-playlist-card">
          <div class="featured-genre-playlist-card-img">
            <img
              src="/images/rock-featured.jpg"
              atl="featured-genre-playlist image"
            />
          </div>
          <div class="featured-genre-playlist-overlay">
            <a href="/song/detail" class="featured-genre-playlist-overlay-btn">
              <div class="featured-genre-playlist-play">
                <button
                  class="featured-genre-playlist-play-btn"
                  onclick="playSong(event)"
                >
                  <i
                    class="fa-solid fa-play featured-genre-playlist-play-btn-icon"
                  ></i>
                </button>
              </div>
            </a>
          </div>
          <div class="featured-genre-playlist-info">
            <h3 class="featured-genre-playlist-name">Rock Classics</h3>
            <p class="featured-genre-playlist-songs">50 songs</p>
          </div>
        </div>
        <!--Featured Genre playlist item-->
        <div class="featured-genre-playlist-card">
          <div class="featured-genre-playlist-card-img">
            <img
              src="/images/hiphop-featured.jpg"
              atl="featured-genre-playlist image"
            />
          </div>
          <div class="featured-genre-playlist-overlay">
            <a href="/song/detail" class="featured-genre-playlist-overlay-btn">
              <div class="featured-genre-playlist-play">
                <button
                  class="featured-genre-playlist-play-btn"
                  onclick="playSong(event)"
                >
                  <i
                    class="fa-solid fa-play featured-genre-playlist-play-btn-icon"
                  ></i>
                </button>
              </div>
            </a>
          </div>
          <div class="featured-genre-playlist-info">
            <h3 class="featured-genre-playlist-name">Hip-Hop Essentials</h3>
            <p class="featured-genre-playlist-songs">50 songs</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
