<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div th:fragment="content">
      <!-- Featured Songs and view all -->
      <div class="home-header">
        <h2 class="home-title">Featured Songs</h2>
        <div class="home-more">
          <a href="/song/user/list">View All</a>
        </div>
      </div>

      <!-- LIST OF FEATURED SONGS -->
      <div th:replace="~{components/songCard :: songCard()}"></div>

      <!-- Recommended playlist and view all -->
      <div class="home-header">
        <h2 class="home-title">Recommended Artists</h2>
        <div class="home-more">
          <a href="/artist">View All</a>
        </div>
      </div>

      <!-- list of Recommended artist -->
      <div th:replace="~{components/artistCard :: artistCard()}"></div>

      <!-- Recently played -->
      <div class="home-header-recently-played">
        <h2 class="home-title">Recently Played</h2>
      </div>

      <!-- Recently played songs list -->
      <div
        th:replace="~{components/listSong :: listOfSong(
        songNumber='',
        icon='plus',
        duration='4:30', 
        onclickFunction='addSong()',
        songs=${recentlyPlayed},
        playlistId=null
      )}"
      ></div>
    </div>
  </body>
</html>
