<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div th:fragment="content">
      <!-- Featured Songs and view all -->
      <div class="home-header">
        <h2 class="home-title">Featured Songs</h2>
        <div class="home-more">
          <a href="/song">View All</a>
        </div>
      </div>

      <!-- LIST OF FEATURED SONGS -->
      <div th:replace="/components/songCard :: songCard()"></div>

      <!-- Recommended playlist and view all -->
      <div class="home-header">
        <h2 class="home-title">Recommended Artists</h2>
        <div class="home-more">
          <a href="/artist">View All</a>
        </div>
      </div>

      <!-- list of Recommended artist -->
      <div th:replace="/components/artistCard :: artistCard()"></div>

      <!-- Recently played -->
      <div class="home-header">
        <h2 class="home-title">Recently Played</h2>
      </div>

      <!-- Recently played songs list -->
      <div class="home-recently-played-song-list">
        <!-- playlist song list item -->
        <div class="home-recently-played-song-item">
          <img
            src="/images/song_img1.png"
            alt="Take My Breath"
            class="home-recently-played-song-img"
          />
          <div class="home-recently-played-song-overlay">
            <div class="home-recently-played-song-played">
              <i class="fa-solid fa-pause"></i>
            </div>
          </div>
          <a href="/song/detail" class="home-recently-played-song-info">
            <div>
              <h3>Take My Breath</h3>
              <p class="home-recently-played-song-info-artist">The Weeknd</p>
            </div>
          </a>
          <div class="home-recently-played-song-actions">
            <span class="home-recently-played-song-duration">4:10</span>
            <button class="home-recently-played-song-actions-heart-btn">
              <i class="fa-regular fa-heart"></i>
            </button>
            <button class="home-recently-played-song-actions-plus-btn">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
