<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Playlist</title>
  </head>
  <body>
    <div th:fragment="content">
      <div th:replace="components/popupOverlay :: popupOverlay"></div>
      <!-- title and filter -->
      <div class="myplaylist-header">
        <h2 class="myplaylist-title">Playlists</h2>
        <!--ROUNDED BUTTON CUSTOM (CREATE PLAYLIST)-->
        <div
          th:replace="components/roundedButton :: roundedButton('fa-solid fa-plus','', 'Create Playlist', '160px','50px', null, 'showPopup()')"
        ></div>
      </div>

      <!-- list of myplaylists -->
      <div th:replace="components/playlistCard :: playlistCard()"></div>

      <div
        th:replace="components/popup :: popup('Create playlist', 'Enter playlist name', 'Add an optional description', 'saveCreatePlaylist()')"
      ></div>
    </div>
  </body>
</html>
