<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my playlist detail</title>
  </head>
  <body>
    <div th:fragment="content">
      <div th:replace="components/popupOverlay :: popupOverlay"></div>

      <!-- myplaylist detail backgroud -->
      <div class="myplaylist-detail-background">
        <img
          class="myplaylist-detail-background-img"
          src="/images/playlist_bg.png"
          alt="myplaylist backgroud"
        />

        <!-- myplaylist infor detail -->
        <div class="myplaylist-detail-infor">
          <h1 class="myplaylist-detail-name">Chill Vibes</h1>

          <h4 class="myplaylist-detail-infor-desc">
            Perfect playlist for relaxing after a long day.
          </h4>
          <span class="myplaylist-detail-infor-createdby">Created by ABC</span>
          <span class="myplaylist-detail-infor-song-count">25 songs</span>
          <div class="myplaylist-detail-actions">
            <!--ROUNDED BUTTON CUSTOM (PLAY ALL)-->
            <div
              th:replace="components/roundedButton :: roundedButton('fa-solid fa-play', '18px', 'Play All', '150px', '50px', null, 'playSong(event)')"
            ></div>

            <div
              th:replace="components/optionButton :: optionButton('50px', '50px', 'auto')"
            >
              <button
                th:style="'width:' + ${width} + '; height:' + ${height} + '; right:' + ${right}"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <!-- myplaylist song list -->
      <h2 class="myplaylist-song-header">All songs</h2>
      <div
        th:replace="components/listSong :: listOfSong('minus', 'removeSong')"
      ></div>

      <!-- myplaylist RECOMMENDED song list -->
      <h2 class="myplaylist-song-header">Recommended songs</h2>
      <div
        th:replace="components/listSong :: listOfSong('plus', 'addSong')"
      ></div>

      <!--Edit playlist Popup-->
      <div
        th:replace="components/popup :: popup('Edit playlist', 'Enter playlist name', 'Modify description','saveEditPlaylist()')"
      ></div>
    </div>
  </body>
</html>
