<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my playlist detail</title>
  </head>
  <body th:attr="data-playlist-id=${playlist.playlistID}">
    <div th:fragment="content">
      <div
        th:replace="~{components/confirmPopup :: confirmPopup(
        'Delete from your library?', 
        ${'This will delete <strong>' + playlist.playlistName + '</strong> from your library.'}
      )}"
      ></div>
      <div th:replace="~{components/popupOverlay :: popupOverlay}"></div>

      <!-- myplaylist detail backgroud -->
      <div class="myplaylist-detail-background">
        <img
          class="myplaylist-detail-background-img"
          src="/images/playlist-bg.svg"
          alt="myplaylist backgroud"
        />

        <!-- myplaylist infor detail -->
        <div class="myplaylist-detail-infor">
          <h1 class="myplaylist-detail-name" th:text="${playlist.playlistName}">
            Chill Vibes
          </h1>

          <h4
            class="myplaylist-detail-infor-desc"
            th:text="${playlist.playlistDes}"
          >
            Perfect playlist for relaxing after a long day.
          </h4>
          <span
            class="myplaylist-detail-infor-createdby"
            th:text="'Created by ' + ${playlist.user.username}"
            >Created by ABC</span
          >
          <span class="myplaylist-detail-infor-song-count">25 songs</span>
          <div class="myplaylist-detail-actions">
            <!--ROUNDED BUTTON (PLAY ALL)-->
            <div
              th:replace="~{components/roundedButton :: roundedButton('fa-solid fa-play', '18px', 'Play All', '150px', '50px', null, 'playAllSong(event)')}"
            ></div>
            <!--ICON BUTTON - OPTION BUTTON -->
            <div
              th:replace="~{components/optionButton :: optionButton('22px', '50px', '50px', 'auto', '', 'toggleOptionMenu(event)')}"
            >
              <button
                th:style="'width:' + ${width} + '; height:' + ${height} + '; right:' + ${right}"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <!-- myplaylist song list -->
      <h2 class="myplaylist-song-header">All songs</h2>
      <div
        th:replace="~{components/listSong :: listOfSong(songNumber='',
        icon='minus',
        duration='4:30', 
        onclickFunction='removeSong()',
        songs=${playlist.songs},
        playlistId=${playlist.playlistID} )}"
      ></div>

      <!-- myplaylist RECOMMENDED song list -->
      <h2 class="myplaylist-song-header">Recommended songs</h2>
      <div
        th:replace="~{components/listSong :: listOfSong(
        songNumber='',
        icon='plus',
        duration='4:30', 
        onclickFunction='addSong()',
        songs=${recommendedSongs},
        playlistId=${playlist.playlistID} 
      )}"
      ></div>

      <!--Edit playlist Popup-->
      <div
        th:replace="~{components/popup :: popup('Edit playlist', 'Enter playlist name', 'Modify description')}"
        th:with="formAction=@{/playlist/update}, playlist=${playlist}"
      ></div>
    </div>
  </body>
</html>
