<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Playlist</title>
  </head>
  <body>
    <div th:fragment="content">
      <div th:replace="components/popupOverlay :: popupOverlay"></div>
      <!-- title and filter -->
      <div class="myplaylist-header">
        <h2 class="myplaylist-title">Playlists</h2>
        <!--ROUNDED BUTTON CUSTOM (CREATE PLAYLIST)-->
        <div
          th:replace="components/roundedButton :: roundedButton('fa-solid fa-plus','', 'Create Playlist', '160px','50px', null, 'showPopup()')"
        ></div>
      </div>

      <!-- list of myplaylists -->
      <div class="myplaylists-grid">
        <!-- Dùng Thymeleaf để lặp qua playlists -->
        <!--Playlist item-->
        <div class="myplaylist-card">
          <div class="myplaylist-card-img">
            <img src="/images/playlist_bg.png" atl="myplaylist image" />
          </div>
          <div class="myplaylist-overlay">
            <a href="/myplaylist/detail" class="myplaylist-overlay-btn">
              <div class="myplaylist-play">
                <button class="song-play-btn" onclick="playSong(event)">
                  <i class="fa-solid fa-play myplaylist-play-btn-icon"></i>
                </button>
              </div>
            </a>
          </div>
          <div class="myplaylist-info">
            <h3 class="myplaylist-name">Chill Vibes</h3>
            <p class="myplaylist-song-count">25 songs</p>
            <div class="myplaylist-meta">
              <span class="myplaylist-createdby">Created by ABC</span>
            </div>
          </div>
        </div>
      </div>

      <div
        th:replace="components/popup :: popup('Create playlist', 'Enter playlist name', 'Add an optional description', 'saveCreatePlaylist()')"
      ></div>
    </div>
  </body>
</html>
