<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Song</title>
  </head>
  <body>
    <div th:fragment="content">
      <!-- title and filter -->
      <div class="song-header">
        <h2 class="song-title">Songs</h2>
        <div class="song-filter">
          <i class="fa-solid fa-filter"></i>

          <select
            id="genreSelect"
            class="song-genres"
            onchange="filterSongsByGenre()"
          >
            <option value="all">All Genres</option>
            <option
              th:each="genre : ${genres}"
              th:value="${genre.genreID}"
              th:text="${genre.genreName}"
            ></option>
          </select>
        </div>
      </div>

      <!-- list of songs -->
      <div th:replace="~{components/songCard :: songCard()}"></div>
    </div>
  </body>
</html>
