<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout(customMainClass='song-detail-page')}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Song detail</title>

    <!-- custom backgroud -->
    <style>
      .main {
        background-color: #121212;
      }
    </style>
  </head>
  <body>
    <div th:fragment="content">
      <div class="song-detail-wrapper">
        <div class="song-detail-main">
          <!-- song detail backgroud -->
          <div class="song-detail-background">
            <img
              class="song-detail-background-img"
              th:src="@{${song.coverImage}}"
              alt="song backgroud"
            />
            <!-- song infor detail -->
            <div class="song-detail-infor">
              <h1 class="song-detail-name" th:text="${song.title}">
                Blinding Lights
              </h1>
              <p
                th:each="artist, iter : ${song.artistsOfSong}"
                th:text="${artist.artistName} + (${!iter.last} ? ', ' : '')"
              >
                The Weeknd
              </p>
              <!-- song meta detail -->
              <div class="song-detail-meta">
                <h4
                  class="song-detail-meta-album-name"
                  th:text="${song.album.albumName}"
                >
                  Album: After Hours
                </h4>
                <span class="dot">•</span>
                <span class="song-detail-duration">3:20</span>
                <span class="dot">•</span>
                <span
                  class="song-detail-song-genres"
                  th:each="genre, iter : ${song.genresOfSong}"
                  th:text="${genre.genreName} + (${!iter.last} ? ', ' : '')"
                  >Pop</span
                >
              </div>
              <div class="song-detail-meta2">
                <div class="tooltip">
                  <button><i class="fa-regular fa-star"></i></button>
                  <span class="tooltip-text">Rate</span>
                </div>
                <h4 class="song-detail-meta2-rate">4.8 (1234 views)</h4>
                <span class="dot">•</span>
                <span class="song-detail-play-count">8.2M plays</span>
              </div>
              <div class="song-detail-actions">
                <!-- CUSTOM ROUNDED BUTTON (PLay now) -->
                <div
                  th:replace="~{components/roundedButton :: roundedButton('fa-solid fa-play','22px', 'Play now', '160px','50px', null, 'playSong(event)')}"
                ></div>
                <!-- heart button -->
                <div class="tooltip">
                  <button
                    class="song-detail-heart-btn"
                    onclick="addtoFavorite()"
                  >
                    <i class="fa-regular fa-heart"></i>
                  </button>
                  <span class="tooltip-text">Add to favorite</span>
                </div>

                <!-- share button -->
                <button class="song-detail-share-btn">
                  <i class="fa-solid fa-arrow-up-from-bracket"></i>
                </button>
                <!-- option button -->
                <button class="song-detail-option-btn">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
              </div>
            </div>
          </div>

          <!-- song detail lyric -->
          <div class="song-detail-lyrics">
            <h2 class="song-detail-lyrics-title">Lyrics</h2>

            <div class="song-detail-lyrics-box">
              <p>Yeah</p>
              <p>I've been tryin' to call</p>
              <p>I've been on my own for long enough...</p>
            </div>
          </div>
          <!-- song detail comments -->
          <div class="song-detail-comments">
            <div class="song-detail-comments-header">
              <h2 class="song-detail-comments-title">Comments</h2>
              <button class="song-detail-comments-btn">
                <span class="song-detail-comments-toggle">Hide Comments</span>
              </button>
            </div>

            <div class="song-detail-comments-box">
              <img
                src="/images/artist1.png"
                alt="User Avatar"
                class="song-detail-comments-avatar"
              />
              <textarea
                class="song-detail-comments-input"
                placeholder="Add a comment..."
              ></textarea>
            </div>
            <div class="song-detail-comments-button">
              <button class="song-detail-comments-button">Post Comment</button>
            </div>
          </div>
        </div>

        <!-- related songs -->
        <div class="song-detail-related">
          <h2 class="song-detail-related-header">Related Songs</h2>
          <!-- song item (add song id)-->
          <div
            th:replace="~{components/listSong :: listOfSongItem('', 'plus','', 'addSongToPlaylist()')}"
          ></div>
        </div>
      </div>
    </div>
  </body>
</html>
