<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout(customMainClass='song-detail-page')}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Charts</title>
    <!-- custom backgroud -->
    <style>
      .main {
        background-color: #121212;
      }
    </style>
  </head>
  <body>
    <div th:fragment="content">
      <!-- Topchart header and button  -->
      <div class="topchart-header">
        <h2 class="home-title">Top Charts</h2>
        <div class="home-more">
          <!-- Today button -->
          <button class="topchart-today">
            <div class="topchart-today-btn">
              <i class="fa-regular fa-clock"></i><span>Today</span>
            </div>
          </button>
          <!-- Week button -->
          <button class="topchart-week">
            <div class="topchart-week-btn">
              <i class="fa-solid fa-calendar-week"></i><span>This Week</span>
            </div>
          </button>
          <!-- Month button -->
          <button class="topchart-month">
            <div class="topchart-month-btn">
              <i class="fa-solid fa-arrow-trend-up"></i><span>This Month</span>
            </div>
          </button>
        </div>
      </div>

      <div class="topchart-wrapper">
        <!-- Top songs -->
        <div class="topchart-topsong">
          <!-- Top songs -->
          <div class="topchart-header">
            <h2 class="topchart-title">Top Songs</h2>
          </div>
          <!-- Top songs list -->

          <div class="topchart-song-list-custom">
            <div
              th:replace="~{components/listSong :: listOfSong(
              songNumber='1',
              icon='plus',
              duration='4:30', 
              onclickFunction='addSong()',
              songs=${songs},
              playlistId=null
            )}"
            ></div>
          </div>
        </div>

        <!-- Trend artist and popular playlist -->
        <div class="topchart-trend-popular">
          <!-- Trend artist header-->
          <div class="topchart-header">
            <h2 class="topchart-title">Trending Artists</h2>
          </div>
          <!-- Top chart trend artist-->
          <div class="topchart-trend">
            <!-- Trending artist item-->
            <a
              th:href="@{'/artist/detail/' + ${artist.artistID}}"
              th:each="artist : ${top3ArtistsByPlays}"
            >
              <div class="topchart-trend-artist">
                <img
                  th:src="${artist.image}"
                  alt="The Weeknd"
                  class="topchart-trend-artist-img"
                />
                <div class="topchart-trend-artist-info">
                  <h3
                    class="topchart-trend-artist-name"
                    th:text="${artist.artistName}"
                  >
                    Artis>The Weeknd
                  </h3>
                  <p class="topchart-trend-artist-genre">Pop / R&B</p>
                  <p
                    class="topchart-trend-artist-listeners"
                    th:text="${globalArtistTotalPlays[artist.artistID] + ' plays'}"
                  >
                    45.6M plays
                  </p>
                </div>
              </div>
            </a>

            <a href="/artist" class="topchart-trend-more-btn">
              <i class="fa-solid fa-user-group"></i> View More Artists
            </a>
          </div>

          <!-- Popular playlist header-->
          <div class="topchart-header">
            <h2 class="topchart-title">Popular Albums</h2>
          </div>
          <!-- Top chart popular albums content-->
           
        </div>
      </div>
    </div>
  </body>
</html>
