<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Playlist</title>
  </head>
  <body>
    <div th:fragment="content">
      <!-- title and filter -->
      <div class="myplaylist-header">
        <h2 class="myplaylist-title">Playlists</h2>
        <button class="myplaylist-create">
          <i class="fa-solid fa-plus myplaylist-create-plus-btn"></i>
          <span class="myplaylist-create-plus-btn">Create Playlist</span>
        </button>
      </div>

      <!-- list of myplaylists -->
      <div class="myplaylists-grid">
        <!-- Dùng Thymeleaf để lặp qua playlists -->

        <div class="myplaylist-card">
          <img src="/images/playlist_bg.png" atl="myplaylist image" />
          <div class="myplaylist-overlay">
            <a href="/myplaylist/detail">
              <div class="myplaylist-play">
                <i class="fa-solid fa-play myplaylist-play-btn"></i>
              </div>
            </a>
          </div>
          <div class="myplaylist-info">
            <h3 class="myplaylist-name">Chill Vibes</h3>
            <p class="myplaylist-song-count">25 songs</p>
            <div class="myplaylist-meta">
              <span class="myplaylist-createdby">Created by ABC</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
