
.add-genre-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
  }
  
  .add-genre-container {
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
  }

  .add-genre-fields {
    min-height: 300px;
    width: 100%; 
    background-color: #1F2937; 
    padding: 24px;
    border-radius: 10px;
    margin-top:32px;
  }
  
  /* Labels */
  .add-genre-label {
    display: block;
    color: #9CA3AF;
    font-size: 14px;
    font-weight: 600;
    margin: 12px 0;
  }
  
  /* Input Fields */
  .add-genre-input {
    background-color: #374151;
    padding: 10px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    width: 100%;
    margin-bottom: 12px;
  }
  
  .add-genre-input::placeholder {
    color: #7a7f87;
  }
  
  
  /* Upload Button */
  .add-genre-upload-btn {
    margin-top: 32px;
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    opacity: 0.8;
  }
  
  .add-genre-upload-btn:hover {
    opacity: 1;
  }
