
.edit-songlist-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.edit-songlist-container {
    width: 60%;
    min-height: 650px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
  }
.edit-songlist-fields {
    min-height: 660px;
    width: 100%; 
    background-color: #1F2937; 
    padding: 24px;
    border-radius: 10px;
    margin-top:32px;
}
  
  /* Labels */
.edit-songlist-label {
    display: block;
    color: #9CA3AF;
    font-size: 14px;
    font-weight: 600;
    margin: 12px 0;
  }
  
  /* Input Fields */
.edit-songlist-input {
    background-color: #374151;
    padding: 10px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    width: 100%;
    margin-bottom: 12px;
  }
  
  .edit-songlist-input::placeholder {
    color: #7a7f87;
  }
  
  /* Album Section */
  .edit-songlist-album {
    display: flex;
    align-items: center;
    gap: 10px;
    
  }
  
  .edit-songlist-select {
    background-color: #374151;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    flex-grow: 1;
    margin-bottom: 12px;

  }
  
  
  /* Upload Button */
  .edit-songlist-upload-btn {
    margin-top: 32px;
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    opacity: 0.8;
  }
  
  .edit-songlist-upload-btn:hover {
    opacity: 1;
  }


/* For both add and edit forms */
.item.checked .checkbox {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.item.checked .check-icon {
  opacity: 1;
}

/* Dropdown styles */
.edit-songlist-dropdown .list-items,
.add-song-dropdown .list-items {
  display: none;
  max-height: 200px;
  overflow-y: auto;
}

.edit-songlist-dropdown.open .list-items,
.add-song-dropdown.open .list-items {
  display: block;
}