
.playlist-header {
    padding: 22px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playlist-table {
    width: 100%;
    border-collapse: collapse;
}
.playlist-table th {
    width: 20%;
    
}
.playlist-table th, .playlist-table td {
    padding: 10px;
    text-align: left;
    color: #D1D5DB;
}

.playlist-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.playlist-table-actions {
    display: flex;
    gap: 10px;
}
.playlist-edit, .playlist-remove {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.playlist-edit {
    background-color: var(--primary);
    color: white;
}
.playlist-remove {
    background-color:  var(--primary);
    color: white;
}
.playlist-edit:hover, .playlist-remove:hover {
    opacity: 0.8;
}