/* Song list items */
.playlist-table {
    width: 100%;
    margin-top: 24px;
    font-family: sans-serif;
    color: white;
  }
  
  .playlist-table-header {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #3a2b4f;
    color: #cbd5e1;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .playlist-row {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    transition: background-color 0.2s ease;
  }
  
  .playlist-row:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .playlist-col {
    padding: 0 16px;
    display: flex;
    align-items: center;
  }
  
  /* Column widths */
  .playlist-index {
    width: 40px;
    justify-content: center;
  }
  
  .playlist-title {
    flex: 2;
    gap: 12px;
  }
  
  .playlist-num {
    flex: 1;
  }
  
  .playlist-album {
    flex: 1;
  }
  
  .playlist-actions {
    position: relative;
    display: flex;
    gap: 30px;
    width: 60px;
    justify-content: center;
    
  }
  
  /* Image */
  .playlist-cover {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  /* Text inside title */
  .playlist-name {
    font-weight: 600;
  }
  
  .playlist-artists {
    font-size: 13px;
    color: #9ca3af;
  }
  

/* Actions button */
.playlist-actions button {
    background-color: transparent;
}