<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Artist</title>
  </head>
  <body>
    <div th:fragment="content">
      <div class="add-artist-wrapper">
        <div class="add-artist-container">
          <h1>Add Artist</h1>
          <form
            th:action="@{/artist/add}"
            th:object="${artist}"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="add-artist-fields">
              <!--Artist name field-->
              <label class="add-artist-label">Artist name</label>
              <input
                type="text"
                th:field="*{artistName}"
                class="add-artist-input"
                placeholder="Enter artist name"
              />
              <!--Artist bio field-->
              <label class="add-artist-label">Bio</label>
              <input
                type="text"
                th:field="*{bio}"
                class="add-artist-input"
                placeholder="Enter background information"
              />

              <!--Image upload field-->
              <label class="add-artist-label">Image file path</label>
              <input
                type="file"
                name="imageFile"
                accept="image/*"
                class="add-artist-input"
                placeholder="Enter cover image path"
              />

              <button type="submit" class="add-artist-upload-btn">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
