<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Song</title>
  </head>
  <body>
    <div th:fragment="content">
      <div class="add-song-wrapper">
        <div class="add-song-container">
          <h1>Add song</h1>
          <div class="add-song-fields">
            <label class="add-song-label">Song name</label>
            <input
              type="text"
              class="add-song-input"
              placeholder="Enter song name"
            />
            <label class="add-song-label">Album</label>
            <div class="add-song-album">
              <select class="add-song-select">
                <option value="abc">abc</option>
              </select>
              <button class="add-song-add-btn">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <label class="add-song-label">Genre</label>
            <div class="add-song-album">
              <select class="add-song-select">
                <option value="abc">abc</option>
              </select>
              <button class="add-song-add-btn">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <label class="add-song-label">Artist</label>
            <input
              type="text"
              class="add-song-input"
              placeholder="Enter artist name"
            />
            <div class="add-song-upload">
              <label for="imageUpload" class="add-song-upload-box">
                <span class="add-song-upload-icon">+</span>
                <p class="add-song-upload-text">Insert picture</p>
              </label>
              <input
                type="file"
                id="imageUpload"
                class="add-song-upload-input"
                accept="image/*"
              />
            </div>

            <form action="">
              <button class="add-song-upload-btn">Add Song</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
