<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Albums Management</title>
  </head>
  <body>
    <div th:fragment="albumList" class="albumList-wrapper">
      <!--Songs list header-->
      <div class="albumList-header">
        <div class="albumList-header-add-btn">
          <a class="albumList-header-add-btn-link" href="/album/add"
            ><i class="fa-solid fa-plus"></i
          ></a>
        </div>
      </div>

      <!--Songs list item-->
      <div class="albumList-table">
        <div class="albumList-table-header">
          <div class="albumList-col albumList-index">#</div>
          <div class="albumList-col albumList-title">Title</div>
          <div class="albumList-col albumList-artist">Artist</div>
          <div class="albumList-col albumList-num">Number of songs</div>
          <div class="albumList-col albumList-actions">Actions</div>
        </div>

        <!-- Row 1 -->
        <div class="albumList-row" th:each="album, stat : ${albums}">
          <div class="albumList-col albumList-index" th:text="${stat.count}">
            1
          </div>
          <div class="albumList-col albumList-title">
            <img
              th:src="${album.coverImage != null ? album.coverImage : '/images/default-cover.jpg'}"
              class="albumList-cover"
            />
            <div>
              <div class="albumList-name" th:text="${album.albumName}">
                AlbumName
              </div>
            </div>
          </div>
          <div
            class="albumList-col albumList-artist"
            th:each="artist : ${album.artistsOfAlbum}"
            th:text="${artist.artistName}"
          >
            The Weeknd
          </div>
          <div
            class="albumList-col albumList-num"
            th:text="${globalSongsOfAlbum[album.albumID]}"
          >
            10
          </div>
          <div class="albumList-col albumList-actions">
            <!--ICON BUTTON - OPTION BUTTON -->

            <button
              class="albumList-actionsButton-btn"
              onclick="toggleActionMenu(event)"
            >
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <div
              class="albumList-actions-menu actions-menu"
              id="albumList-actions-menu"
            >
              <a
                th:href="@{'/album/update/' + ${album.albumID}}"
                style="color: #fff"
              >
                <button onclick="closeActionMenu()">
                  <i class="fa-solid fa-pen"></i>Edit Album
                </button>
              </a>
              <a th:href="@{'/album/delete/' + ${album.albumID}}">
                <button onclick="closeActionMenu()">
                  <i class="fa-solid fa-trash"></i>
                  Delete Album
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
