<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artists Management</title>
  </head>
  <body>
    <div th:fragment="artistList" class="songlist-wrapper">
      <!--Songs list header-->
      <div class="songlist-header">
        <div class="songlist-header-add-btn">
          <a class="songlist-header-add-btn-link" href="/admin/songlist/addsong"
            ><i class="fa-solid fa-plus"></i
          ></a>
        </div>
      </div>

      <!--Songs list item-->
      <div class="songlist-table">
        <div class="songlist-table-header">
          <div class="songlist-col songlist-index">#</div>
          <div class="songlist-col songlist-title">Title</div>
          <div class="songlist-col songlist-plays">Plays</div>
          <div class="songlist-col songlist-album">Album</div>
          <div class="songlist-col songlist-actions">Actions</div>
        </div>

        <!-- Row 1 -->
        <div class="songlist-row">
          <div class="songlist-col songlist-index">1</div>
          <div class="songlist-col songlist-title">
            <img src="/images/rock.jpg" class="songlist-cover" />
            <div>
              <div class="songlist-name">Die With A Smile</div>
              <div class="songlist-artists">Lady Gaga, Bruno Mars</div>
            </div>
          </div>
          <div class="songlist-col songlist-plays">1,000</div>
          <div class="songlist-col songlist-album">MAYHEM</div>
          <div class="songlist-col songlist-actions">
            <!--ICON BUTTON - OPTION BUTTON -->

            <button
              class="songlist-actionsButton-btn"
              onclick="toggleActionMenu(event)"
            >
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <div class="songlist-actions-menu" id="songlist-actions-menu">
              <a href="/admin/songlist/edit" style="color: #fff">
                <button><i class="fa-solid fa-pen"></i>Edit Song</button>
              </a>
              <button onclick="deleteSong()">
                <i class="fa-solid fa-trash"></i>
                Delete Song
              </button>
            </div>

            <!-- <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
