<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artists Management</title>
  </head>
  <body>
    <div th:fragment="artistList" class="artistList-wrapper">
      <!--Artists list header-->
      <div class="artistList-header">
        <div class="artistList-header-add-btn">
          <a class="artistList-header-add-btn-link" href="/admin/artist/add"
            ><i class="fa-solid fa-plus"></i
          ></a>
        </div>
      </div>

      <!--Artists list item-->
      <div class="artistList-table">
        <div class="artistList-table-header">
          <div class="artistList-col artistList-index">#</div>
          <div class="artistList-col artistList-title">Title</div>
          <div class="artistList-col artistList-plays">Plays</div>
          <div class="artistList-col artistList-num">Number of songs</div>
          <div class="artistList-col artistList-actions">Actions</div>
        </div>

        <!-- Row 1 -->
        <div class="artistList-row" th:each="artist, iterStat : ${artists}">
          <div
            class="artistList-col artistList-index"
            th:text="${iterStat.count}"
          ></div>
          <div class="artistList-col artistList-title">
            <img th:src="@{${artist.image}}" class="artistList-cover" />
            <div>
              <div class="artistList-name" th:text="${artist.artistName}">
                The Weeknd
              </div>
            </div>
          </div>
          <div
            class="artistList-col artistList-plays"
            th:text="${globalArtistTotalPlays[artist.artistID]}"
          >
            1,000
          </div>
          <div
            class="artistList-col artistList-num"
            th:text="${globalArtistSongCount[artist.artistID]}"
          >
            12
          </div>
          <div class="artistList-col artistList-actions">
            <!--ICON BUTTON - OPTION BUTTON -->
            <button
              class="artistList-actionsButton-btn"
              onclick="toggleActionMenu(event)"
            >
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <div
              class="artistList-actions-menu actions-menu"
              id="artistList-actions-menu"
            >
              <a
                th:href="@{'/admin/artist/update/' + ${artist.artistID}}"
                style="color: #fff"
              >
                <button onclick="closeActionMenu()">
                  <i class="fa-solid fa-pen"></i>Edit Artist
                </button>
              </a>
              <a th:href="@{'/admin/artist/delete/' + ${artist.artistID}}">
                <button onclick="deleteArtist();closeActionMenu()">
                  <i class="fa-solid fa-trash"></i>
                  Delete Artist
                </button>
              </a>
            </div>

            <!-- <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
