<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Playlist</title>
  </head>
  <body>
    <div th:fragment="content">
      <div class="edit-playlist-wrapper">
        <div class="edit-playlist-container">
          <h1 class="edit-playlist-header">Edit Playlist</h1>
          <div class="edit-playlist-fields">
            <label class="edit-playlist-label">New Playlist name</label>
            <input
              type="text"
              class="edit-playlist-input"
              placeholder="Enter song name"
            />
            <label class="edit-playlist-label">Song include</label>
            <div class="edit-playlist-album">
              <select class="edit-playlist-select">
                <option value="abc">abc</option>
              </select>
            </div>
            <label class="edit-playlist-label">Artist</label>
            <input
              type="text"
              class="edit-playlist-input"
              placeholder="Enter artist name"
            />
            <div class="edit-playlist-upload">
              <label for="imageUpload" class="edit-playlist-upload-box">
                <span class="edit-playlist-upload-icon">+</span>
                <p class="edit-playlist-upload-text">Insert picture</p>
              </label>
              <input
                type="file"
                id="imageUpload"
                class="edit-playlist-upload-input"
                accept="image/*"
              />
            </div>

            <form action="">
              <button class="edit-playlist-upload-btn">Update Playlist</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
