<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Genre</title>
  </head>
  <body>
    <div th:fragment="content">
      <div class="edit-genre-wrapper">
        <div class="edit-genre-container">
          <h1>Edit Genre</h1>
          <form
            th:action="@{/admin/genre/update/{id}(id=${genre.genreID})}"
            th:object="${genre}"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="edit-genre-fields">
              <!--genre name field-->
              <label class="edit-genre-label">Genre name</label>
              <input
                type="text"
                th:field="*{genreName}"
                class="edit-genre-input"
                placeholder="Enter genre name"
              />

              <!--Image upload field-->
              <label class="edit-genre-label">Image file path</label>
              <input
                type="file"
                name="imageFile"
                accept="image/*"
                class="edit-genre-input"
                placeholder="Enter cover image path"
              />
              <div th:if="${genre.genreImage != null}">
                <p class="edit-songlist-currentfile">
                  Current file:
                  <a
                    th:href="@{'/uploads/' + ${genre.genreImage}}"
                    th:text="${genre.genreImage}"
                    target="_blank"
                  ></a>
                </p>
              </div>

              <button type="submit" class="edit-genre-upload-btn">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
