<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playlist</title>
  </head>
  <body>
    <div th:fragment="content">
      <!--Songs list wrapper-->
      <div th:fragment="playlist" class="playlist-wrapper">
        <!--Songs list item-->
        <div class="playlist-table">
          <div class="playlist-table-header">
            <div class="playlist-col playlist-index">#</div>
            <div class="playlist-col playlist-title">Title</div>
            <div class="playlist-col playlist-num">Number of Songs</div>
            <div class="playlist-col playlist-actions">Actions</div>
          </div>

          <!-- Row 1 -->
          <div class="playlist-row">
            <div class="playlist-col playlist-index">1</div>
            <div class="playlist-col playlist-title">
              <img src="/images/rock.jpg" class="playlist-cover" />
              <div>
                <div class="playlist-name">Chill Vibes</div>
              </div>
            </div>
            <div class="playlist-col playlist-num">10</div>
            <div class="playlist-col playlist-actions">
              <!--ICON BUTTON - OPTION BUTTON -->

              <div class="tooltip">
                <button onclick="deletePlaylist()">
                  <i class="fa-solid fa-trash"></i>
                </button>
                <span class="tooltip-text">Delete playlist</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
