<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playlist</title>
  </head>
  <body>
    <div th:fragment="content">
      <!--Songs list wrapper-->
      <div class="playlist-wrapper">
        <!--Songs list header-->
        <div class="playlist-header">
          <h1>All Playlists</h1>
        </div>

        <!--Songs list item-->
        <table class="playlist-table">
          <thead class="playlist-table-title">
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Number of songs</th>

              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  src="/images/song_img1.png"
                  alt="Save Your Tears"
                  class="playlist-image"
                />
              </td>
              <td>Save Your Tears</td>
              <td>10</td>

              <td class="playlist-table-actions">
                <a href="/admin/playlist/edit"
                  ><button class="playlist-edit">Edit</button></a
                >
                <form action="">
                  <button class="playlist-remove">Remove</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
