<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Songs List Management</title>
  </head>
  <body>
    <div th:fragment="content">
      <div class="songlist-wrapper">
        <div class="songlist-container">
          <h1>All Songs</h1>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
  </body>
</html>
