<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Static</title>
  </head>
  <body>
    <div th:fragment="content">
      <!--Songs list wrapper-->
      <div class="static-wrapper">
        <!--Songs list header-->
        <div class="static-header">
          <h1>All Songs</h1>
          
        </div>

        <!--Songs list item-->
        <table class="static-table">
          <thead class="static-table-title">
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Plays</th>
              <th>Artist</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  src="/images/song_img1.png"
                  alt="Save Your Tears"
                  class="static-image"
                />
              </td>
              <td>Save Your Tears</td>
              <td>1.23M</td>
              <td>The Weeknd</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
