<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload</title>
  </head>
  <body>
    <div th:fragment="content">
      <div class="upload-tabs">
        <div
          th:class="'upload-tab ' + (${activeTab} == 'song' ? 'upload-tab-active' : '')"
          data-tab="song"
        >
          Song
        </div>
        <div
          th:class="'upload-tab ' + (${activeTab} == 'artist' ? 'upload-tab-active' : '')"
          data-tab="artist"
        >
          Artist
        </div>
        <div
          th:class="'upload-tab ' + (${activeTab} == 'album' ? 'upload-tab-active' : '')"
          data-tab="album"
        >
          Album
        </div>
        <div
          th:class="'upload-tab ' + (${activeTab} == 'genre' ? 'upload-tab-active' : '')"
          data-tab="genre"
        >
          Genre
        </div>
        <div
          th:class="'upload-tab ' + (${activeTab} == 'playlist' ? 'upload-tab-active' : '')"
          data-tab="playlist"
        >
          Playlist
        </div>
      </div>
      <!--Manage song-->
      <div
        id="songlist"
        th:style="'display:' + (${activeTab} == 'song' ? 'block' : 'none')"
      >
        <div th:replace="~{pages/adminPage/songlist :: songlist}"></div>
      </div>

      <!--Manage Artist-->
      <div
        id="artistList"
        th:style="'display:' + (${activeTab} == 'artist' ? 'block' : 'none')"
      >
        <div th:replace="~{pages/adminPage/artistList :: artistList}"></div>
      </div>

      <!--Manage Album-->
      <div id="albumList" style="display: none">
        <div th:replace="~{pages/adminPage/albumList :: albumList}"></div>
      </div>
      <!--Manage Genre-->
      <div id="genreList" style="display: none">
        <div th:replace="~{pages/adminPage/genreList :: genreList}"></div>
      </div>

      <!--Manage Playlist-->
      <div id="playlist" style="display: none">
        <div th:replace="~{pages/adminPage/playlist :: playlist}"></div>
      </div>
    </div>
  </body>
</html>
