.favorites-wrapper {
    width: 100;
    background-color: #111827;
}
.favorites-title {
    color: var(--white);
    font-size: 25px;

}
.favorites-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #9CA3AF;
    padding: 22px 0;
}
.favorites-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}
.favorites-genres {
    width: 100%;
    background-color: #374151;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
}
.favorites-filter select {
    border: none;
}

.favoritess {
    margin-top: 20px;
}

.favoritess-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
}

.favorites-card {
    height: 365px;
    background: #1F2937;
    border-radius: 10px;
    overflow: hidden; 
    position: relative;
}
.favorites-card:hover .favorites-overlay {
    opacity: 1; /* Show overlay on hover */
}

.favorites-card img {
    width: 100%;
    height: 67%;
    display: block;
}

.favorites-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 67%; 
    background: rgba(0, 0, 0, 0.4); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.favorites-play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #9333EA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorites-play-btn {
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.favorites-play-btn button {
    background-color: transparent;
}
.favorites-info {
    padding: 6px 16px 6px 16px;
    
}

.favorites-name {
    color:#fff;
    font-weight: 600;
}

.favorites-artist {
    color: #9CA3AF;
    font-size: 14px;
}

.favorites-meta {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    color: #9CA3AF;
}
.favorites-duration {
    font-size: 14px;
}
.favorites-actions i{
    padding-left: 10px;
}