.home-wrapper {
    width: 100;
    background-color: #111827;
}
.home-title {
    color: var(--white);
    font-size: 25px;

}
.home-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #9CA3AF;
    padding: 22px 0;
}
/* View all text button */
.home-more {
    display: flex;
    align-items: center;
}
.home-genres {
    width: 100%;
    background-color: #374151;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
}
.home-filter select {
    border: none;
}

.homes {
    margin-top: 20px;
}

.homes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
}

.home-card {
    height: 365px;
    background: #1F2937;
    border-radius: 10px;
    position: relative;
    overflow: hidden; 
}

.home-card:hover .home-overlay:hover {
    background: rgba(0, 0, 0, 0.4); 
}

.home-card-img {
    width: 100%;
    height: 67%;
    overflow: hidden; 
    position: relative;
}
.home-card-img img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.home-card:hover .home-card-img img {
    transform: scale(1.2);
}

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 67%; 
    /* background: rgba(0, 0, 0, 0.4);  */
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-overlay-btn {
    padding: 98px 98px;
    display: none;
}
/* Show play button when hovering over image */
.home-card-img:hover + .home-overlay .home-overlay-btn,
.home-overlay:hover .home-overlay-btn {
  display: block; 
}

.home-play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #9333EA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-play:hover {
    background-color: #a84cff;
}
.home-play-btn {
    background-color: transparent;
    border-radius: 50%;
    
}
.home-play-btn-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 13px 15px;

}
.home-play-btn button {
    background-color: transparent;
}
.home-info {
    padding: 6px 16px 6px 16px;
    
}

.home-name {
    color:#fff;
    font-weight: 600;
}

.home-artist {
    color: #9CA3AF;
    font-size: 14px;
}

.home-meta {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    color: #9CA3AF;
}
.home-duration {
    font-size: 14px;
}
.home-actions i{
    padding-left: 10px;
}







