.signup-wrapper {
    display: flex;
    justify-content: center;
     
  }
/* Login Container */
.signup-container {
    background-color: #1F2937;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 60%;
    margin-top: 24px;
}

/* Title */
.signup-title {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Form Group */
.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #9CA3AF;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    background-color: #374151;
    color: #D1D5DB;
    font-size: 14px;
}

.form-group input::placeholder {
    color: #9CA3AF;
}

/* Sign In Button */
.btn-signup {
    width: 100%;
    padding: 12px;
    background-color: #9333EA;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-signup:hover {
    opacity: 0.8;
}

.login-text {
    color: #9CA3AF;
    font-size: 14px;
    margin-top: 15px;
}

.login-link {
    color: #C084FC;
}

.login-link:hover {
    text-decoration: underline;
}
