<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music</title>

    <!-- fontawesome (icon) -->
    <head>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      />
    </head>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- main and component Css -->
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/components/header.css}" rel="stylesheet" />
    <link th:href="@{/css/components/sidebar.css}" rel="stylesheet" />
    <link th:href="@{/css/components/optionButton.css}" rel="stylesheet" />
    <link th:href="@{/css/components/popup.css}" rel="stylesheet" />
    <link th:href="@{/css/components/popupOverlay.css}" rel="stylesheet" />
    <link th:href="@{/css/components/listSong.css}" rel="stylesheet" />
    <link th:href="@{/css/components/roundedButton.css}" rel="stylesheet" />
    <link th:href="@{/css/components/songCard.css}" rel="stylesheet" />
    <link th:href="@{/css/components/playlistCard.css}" rel="stylesheet" />
    <link th:href="@{/css/components/artistCard.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/components/musicPlayer.css}" />

    <!-- User Css -->
    <link rel="stylesheet" th:href="@{/css/auth/signin.css}" />
    <link rel="stylesheet" th:href="@{/css/auth/signup.css}" />
    <link rel="stylesheet" th:href="@{/css/user/home.css}" />
    <link rel="stylesheet" th:href="@{/css/user/discover.css}" />
    <link rel="stylesheet" th:href="@{/css/user/topchart.css}" />
    <link rel="stylesheet" th:href="@{/css/user/song.css}" />
    <link rel="stylesheet" th:href="@{/css/user/artist.css}" />
    <link rel="stylesheet" th:href="@{/css/user/artistDetail.css}" />
    <link rel="stylesheet" th:href="@{/css/user/album.css}" />
    <link rel="stylesheet" th:href="@{/css/user/albumDetail.css}" />
    <link rel="stylesheet" th:href="@{/css/user/genres.css}" />
    <link rel="stylesheet" th:href="@{/css/user/genresDetail.css}" />
    <link rel="stylesheet" th:href="@{/css/user/myplaylist.css}" />
    <link rel="stylesheet" th:href="@{/css/user/myplaylistDetail.css}" />
    <link rel="stylesheet" th:href="@{/css/user/songDetail.css}" />
    <link rel="stylesheet" th:href="@{/css/user/favorite.css}" />
    <link rel="stylesheet" th:href="@{/css/user/setting.css}" />
    <!-- Admin Css -->
    <link rel="stylesheet" th:href="@{/css/admin/songlist.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/editSonglist.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/addSong.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/userList.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/userDetail.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/playlist.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/editPlaylist.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/static.css}" />

    <!--Script-->
    <script th:src="@{/js/sidebar.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/optionButton.js}"></script>
    <script th:src="@{/js/popup.js}"></script>
  </head>
  <body>
    <!-- Header -->
    <div th:replace="components/header :: headerFragment"></div>

    <div class="box">
      <!-- Sidebar -->
      <div th:replace="components/sidebar :: sidebarFragment"></div>

      <!-- Children (dynamic content) -->
      <main class="main" th:classappend="${customMainClass}">
        <div th:insert="~{::content}"></div>
      </main>
    </div>

    <!-- Fixed Bottom Music player -->
    <div th:replace="components/musicPlayer :: playerFragment"></div>
  </body>
</html>
