.header {
    display: flex;
    justify-content: center;
   
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 72px;
    margin-left: 42px;
    margin-right: 55px;
}

.header__logo {
    font-size: 32px;
    color: #C084FC;
}
.header__search {
    position: relative;
    height: 46px;
    padding-left: 16px;
    background-color: #374151;
    border-radius: 92px;
    display: flex;
    border: 1.5px solid transparent;
}
.header__search input {
    height: 100%;
    width: 480px;
    color: var(--white);
    font-size: 1.6rem;
    background-color: #374151;
    flex: 1;
    border-radius: 92px;
}
input::placeholder {
    color: #CCCCCC;
    opacity: 1; 
}

.header__search-btn {
    height: 100%;
    border-radius: 0 92px 92px 0;
    font-size: 1.8rem;
    color: #9CA3AF;
    padding-right:10px;
    cursor: pointer;
    background-color: transparent;
}

.header__actions {
    display: flex;
    gap: 24px;
}


/* Disable when not signin */
.header__profile {
    display: none;
}

.header__action{
    background-color: transparent;
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
}
.header__login-btn, .header__profile-btn {
    margin-right: 6px;
}

.header__profile-btn, .header__login-btn {
    color: #FFF !important;
}
/* Tooltip display when use try to use a feature but not login*/
.header__tooltip__container {
    position: relative;
    display: inline-block;
}
.header__tooltip-box {
position: absolute;
  top: 150%;
  right: 0;
  width: 260px;
  background-color: var(--primary); 
  color: white;
  border-radius: 8px;
  padding: 16px;
  z-index: 10;
  font-size: 14px;
  display: none;
}
.header__tooltip-box strong {
    display: block;
    font-weight: 700;
    margin-bottom: 6px;
  }
  
  .header__tooltip-box p {
    margin: 0;
    font-size: 13px;
  }
  
  .header__tooltip-close {
    color: white;
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .header__tooltip-arrow {
    position: absolute;
    top: -9px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid var(--primary);
  }


/* disable when not login */
.header__logout {
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
    display: none;
}