/* List of song in my playlist */

.playlists-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
}

.playlist-card {
    height: 365px;
    background: #1F2937;
    border-radius: 10px;
    overflow: hidden; 
    position: relative;
}
.playlist-card:hover .playlist-overlay {
    background: rgba(0, 0, 0, 0.4); 
}

.playlist-card-img{
    width: 100%;
    height: 67%;
    overflow: hidden; 
    position: relative;
}
.playlist-card-img img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease-in-out;
}
.playlist-card:hover .playlist-card-img img {
    transform: scale(1.2);
}

.playlist-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 67%; 
    /* background: rgba(0, 0, 0, 0.4);  */
    display: flex;
    align-items: center;
    justify-content: center;
}
.playlist-overlay-btn {
    padding: 98px 98px;
    display: none; 
}
/* Show play button when hovering over image */
.playlist-card-img:hover + .playlist-overlay .playlist-overlay-btn,
.playlist-overlay:hover .playlist-overlay-btn {
display: block; 
}

.playlist-play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #9333EA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.playlist-play:hover {
    background-color: #a84cff;
}
.playlist-play-btn {
    background-color: transparent;
    border-radius: 50%;
}
.playlist-play-btn-icon {
    font-size: 22px;
    color: white;
    cursor: pointer;
    padding: 13px 15px;

}

.playlist-play-btn button {
    background-color: transparent;
}

.playlist-info {
    padding: 16px;
}

.playlist-name {
    color:#fff;
    font-weight: 600;
}

.playlist-song-count {
    color: #9CA3AF;
    font-size: 14px;
}

.playlist-meta {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    color: #9CA3AF;
}
.playlist-createdby {
    font-size: 14px;
}





