.playlistSidebar-wrapper {
position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  width: 320px;
  height: 100vh;
  background-color: #111621;
  z-index: 1000;
  display: none; 
  transform: translateX(100%); 
}
.playlistSidebar-header {
    margin-bottom: 18px;
    display: flex;
    padding-bottom: 12px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.playlistSidebar-now-playing-wrapper span, .playlistSidebar-next-up-wrapper span, .playlistSidebar-header span, .playlistSidebar-header i {
    color: #fff;
    font-weight: bold;

}
.playlistSidebar-now-playing-wrapper span, .playlistSidebar-next-up-wrapper span {
    padding-bottom: 12px;
}
.playlistSidebar-now-playing-wrapper {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
}


.playlistSidebar-next-up-wrapper {
    display: flex;
    flex-direction: column;
}

/*Hover custom */
.playlistSidebar-now-playing-content .listOfSong-item:hover {
    background-color: #1F2937;
}