.song-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    margin-bottom: 18px;
}

.song-card {
    height: 365px;
    background: #1F2937;
    border-radius: 10px;
    position: relative;
    overflow: visible; 
}

.song-card:hover .song-card-overlay:hover {
    background: rgba(0, 0, 0, 0.4); 
}

.song-card-img {
    width: 100%;
    height: 67%;
    overflow: hidden; 
    position: relative;
    border-radius: 10px 10px 0 0;
}
.song-card-img img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.song-card:hover .song-card-img img {
    transform: scale(1.2);
}

.song-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 67%; 
    border-radius: 10px 10px 0 0;
    /* background: rgba(0, 0, 0, 0.4);  */
    display: flex;
    align-items: center;
    justify-content: center;
}
.song-card-overlay-btn {
    padding: 98px 98px;
    display: none;
}
/* Show play button when hovering over image */
.song-card-img:hover + .song-card-overlay .song-card-overlay-btn,
.song-card-overlay:hover .song-card-overlay-btn {
  display: block;
}

.song-card-play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #9333EA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.song-card-play:hover {
    background-color: #a84cff;
}
.song-card-play-btn {
    background-color: transparent;
    border-radius: 50%;
    
}
.song-card-play-btn-icon {
    font-size: 22px;
    color: white;
    cursor: pointer;
    padding: 13px 15px;
    pointer-events: auto; 
}

.song-card-play-btn button {
    background-color: transparent;
}
.song-card-info {
    height: 115px;
    padding: 6px 16px 6px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.song-card-name {
    color:#fff;
    font-weight: 600;
}
.song-card-artist {
    display: flex;

}
.song-card-artist-name {
    color: #9CA3AF;
    font-size: 14px;
}

.song-card-meta {
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    
    color: #9CA3AF;
}
.song-card-duration {
    font-size: 14px;
}
.song-card-actions {
    display: flex;
    gap: 5px;
}
.song-card-actions i{
    padding-left: 10px;
}